@charset "utf-8";

/* header */
#header-wrap {height: 116px;}
#lang button div{display: block; width: 46px; height: 55px;background: url(../imgs/sub_common/lang.svg)no-repeat 100% 100% / cover;}
#lang button{position: relative;left: 180px;}
#lang ul{display: block; position: absolute; right: -6px; z-index: 100; padding: 7px 0; border: 1px solid #ccc; background: #fff; text-align: center; font-size: 12px;}
#lang ul li {width: 28px; height: 17px; padding: 2px 14px; line-height: 1.4;}
#lang ul li:hover a{font-weight: 600;}

#util_wrap{position: absolute; width: 226.1px;height: 55px; right: 23px;}
#util{position: absolute; bottom: 0; }
#util a img{height: 55px;}
#util a:first-child{position: relative; }
#util a span{position: absolute; width: 18px; height: 18px; border-radius: 50%; background: #ef2900; font-size: 11px; display: inline-block; text-align: center; line-height: 20px; color: #fff; font-family: Tmon; right: 10px;top: 3px;}
#util a{display: block;float: left;}


#section_wrap{padding-top: 116px;height: 3000px; background: #ef28001f;}